<span class="json-tree" :class="{'json-tree-root': parsed.depth === 0}">

    <span class="json-tree-row" v-if="parsed.primitive">
        <span class="json-tree-indent" v-if="parsed.key" v-for="n in (parsed.depth * 5 + 4)" :key="n">&nbsp;</span>

        <div color="success" small v-if="`${parsed.value}`">
            <img src="../../resources/prop.png" alt="properties-element" class="outline-image ml-2">
            <span class="body-2 ml-2" @click="findByPath(parsed)" :title="`${parsed.value}`">{{ `${parsed.value}` }}</span>
        </div>
    </span>

    <span class="json-tree-deep" v-if="!parsed.primitive">
        <span class="json-tree-row json-tree-expando" @click="expanded = !expanded">

            <div v-if="!parsed.key">
                <img src="../../resources/outline.png" class="outline-image ml-2" alt="root-element">
                <span class="body-2 ml-2">ROOT</span>
                <v-btn flat icon small>
                    <v-icon v-if="!expanded">keyboard_arrow_down
                    </v-icon>
                    <v-icon v-if="expanded">keyboard_arrow_up
                    </v-icon>
                </v-btn>
            </div>
            <span class="json-tree-indent" v-for="n in (parsed.depth * 5 + 4)" :key="n">&nbsp;</span>

            <div v-if="parsed.key">
                <img src="../../resources/obj.png" class="outline-image-obj ml-2 " alt="object-element ">
                <span class="body-2 ml-2" @click="findByPath(parsed)">{{ parsed.key }}</span>
                <v-btn flat icon small>
                    <v-icon v-if="!expanded ">keyboard_arrow_down
                    </v-icon>
                    <v-icon v-if="expanded ">keyboard_arrow_up
                    </v-icon>
                </v-btn>
            </div>

        </span>



        <span class="json-tree-deeper " v-show="expanded ">
            <json-tree v-for="(item, index) in parsed.value " :key="index " :kv="item "></json-tree>
        </span>


    </span>
</span>
