@import url('https://fonts.googleapis.com/css?family=Roboto');

div:focus{
    background-color: lightblue;
}

.json-tree {
    color: #394359;
    display: block;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.json-tree-deeper {
    overflow: scroll;
}

.json-tree-ending,
.json-tree-row {
    border-radius: 2px;
    display: flex;
    overflow: hidden;
}

.json-tree-expando {
    cursor: pointer;
    overflow: hidden;
}

.json-tree-sign {
    font-weight: 700;
    overflow: hidden;
}

.outline-image {
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}
.outline-image-obj {
    background-repeat: no-repeat;
    height: 17px;
    width: 20px;
}

.tab-item{
    overflow: scroll;
    max-height: 650px;
}