<form>
    <div class="input-group pr-2">
        <input :id="schema.id" type="text" class="form-control ml-2 pl-2" :name="name" :placeholder="fieldTitle" :jsonPath="dataJsonPath"
            :counter="schema.maxLength" :maxlength="schema.maxLength" @click="findByPath()" v-model="model" :required="required"
            autocomplete="off">
    </div>
    <div class="d-flex justify-content-between">
        <small class="ml-2 text-left help-block text-danger">
            <p v-show="validationRules!=true">{{ validationRules }}</p>
        </small>
        <small class="mr-2 help-block text-right" v-if="schema.maxLength">{{model.length+'/'+schema.maxLength}}</small>
    </div>
</form>
